{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>{{ forum.name|default:"Blogiverse" }}</h1>
    <div class="post-list">
        {% for post in posts %}
            <div class="post-item">
                <h2><a href="{% url 'blog_detail' post_id=post.id %}">{{ post.title }}</a></h2>
                <img src="{% static 'blog_photos/'|add:post.photo %}" alt="{{ post.title }}">
                <p>{{ post.content }}</p>
                <div class="actions">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'like_post' post.id %}" class="d-inline">
                            {% csrf_token %}
                            {% if user in post.likes.all %}
                                <button type="submit" class="btn-like"><i class="fas fa-heart"></i></button>
                            {% else %}
                                <button type="submit" class="btn-like"><i class="far fa-heart"></i></button>
                            {% endif %}
                        </form>
                        <span id="likes-{{ post.id }}">Likes: {{ post.likes.count }}</span>
                        <a href="{% url 'blog_detail' post_id=post.id %}">Comment</a>
                    {% else %}
                        <i class="far fa-heart"></i> <span>Likes: {{ post.likes.count }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}