<!-- templates/index.html -->
<!-- Homepage template displaying all forums -->

{% extends 'base.html' %} <!-- Extends base.html for consistent layout -->
{% load static %} <!-- Loads static template tag for accessing files -->
{% block content %}
<div class="container">
    <!-- Main heading for the homepage -->
    <h1>Welcome to Blogiverse</h1>
    <div class="row">
        <!-- Loops through forums to display each -->
        {% for forum in forums %}
            <div class="col-md-4">
                <div class="card">
                    <!-- Links to forum’s post list -->
                    <a href="{% url 'topic_list' forum_name=forum.name %}" class="post-link">
                        <!-- Displays forum name -->
                        <h2 class="post-title">{{ forum.name }}</h2>
                        <!-- Displays forum description -->
                        <p class="post-subtitle">{{ forum.description }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}